@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Light color theme colors */
  --main-bg-color: #eaeaec;
  --layout-aside-bg-color: #373b53;
  --layout-aside-icon-color: #7e88c3;
  --box-bg-color: #fff;
  --main-bold-text-color: #0c0e16;
  --main-primary-text-color: #888eb0;
  --main-secondary-text-color: #858bb2;
  --main-tertiary-text-color: #7e88c3;
  --filterbox-bg-color: #fff;
  --checkbox-bg-color: #dfe3fa;
  --button-edit-bg-color: #f9fafe;
  --button-edit-bg-color-hover: #dfe3fa;
  --invoice-item-box-bg-color: #f9fafe;
  --invoice-item-total-box-bg-color: #373b53;
  --form-bg-color: #fff;
  --form-input-focus-color: #9277ff;
  --form-payment-selected: #7c5dfa;
  --common-padding: 1.4rem 2rem;
}

[data-theme='dark']{
  color-scheme: dark;
  --main-bg-color: #141625;
  --layout-aside-bg-color: #1e2139;
  --layout-aside-icon-color: #858bb2;
  --box-bg-color: #1e2139;
  --main-bold-text-color: #fff;
  --main-primary-text-color: #dfe3fa;
  --main-secondary-text-color: #fff;
  --main-tertiary-text-color: #dfe3fa;
  --filterbox-bg-color: #252945;
  --checkbox-bg-color: #1e2139;
  --button-edit-bg-color: #252945;
  --button-edit-bg-color-hover: #fff;
  --invoice-item-box-bg-color: #252945;
  --invoice-item-total-box-bg-color: #0c0e16;
  --form-bg-color: #141625;
  --form-input-focus-color: #7c5dfa;
  --form-payment-selected: #9277ff;
}

html{
  overflow-x: hidden;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  min-width: 100vw;
  min-height: 100vh;
}

.btn{
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}

.sidebar-overlay{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-container{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noDataBx{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.noDataBx > p{
  font-size: 3rem;
}